@import "@/styles/settings/_settings";

.header {
  width: 100%;
  color: white;
  background-color: black;
  padding: 1em 0;
  margin: 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
